{% load comments %}
<DIV class="post" id="post-{{object.pk}}" style="padding-bottom: 40px;">
  <DIV class="posthead">

    <H1><A title="Permanent Link to {{ object.title }}" href="{{ object.link }}" rel="bookmark">{{ object.title }}</A></H1>
    <SMALL class="postauthor">Опубликовал: {{ object.user }} </SMALL>

    <P class="postdate">
    <SMALL class="month">{{ object.pub_date|date:"M" }}</SMALL>
    <SMALL class="day">{{ object.pub_date|date:"d" }}</SMALL>
    </P>

  </DIV>
  <DIV class="postcontent">
  {% include "blog/post-render.html" %}
  </DIV>
  <DIV class="postinfo">
    {% get_comment_count for object as count %}
    <LI class="postcomments"><A href="{{ object.link }}#comments" title="Comment on {{ object }}">{{ count }} комент.</A></LI>
    <LI class="postcat">в разделе:
      <A href="{{ object.category.link }}" title="View all posts in {{ object.category }}" rel="category tag">{{ object.category }}</A></LI>
    <DIV class="clearer"></DIV>
  </DIV>
</DIV>
<DIV class="clearer"></DIV>
