{% extends "work/base.html" %}
{% load common_tags %}

{% block content %}
<h2>TODOs</h2>
<hr>
{% if not todo_list %}
Туду пока нет.
{% else %}
{% for todo in todo_list %}
<div>
<a href="{{ todo.link }}">{{ todo }}</a> - {{ todo.get_status_display }} - {{ todo.get_type_display }} - date: {{todo.pub_date|cdate}}
</div>
{% endfor %}
{% endif %}
<hr>
<a href="">Посмотреть все туду</a>

<h2>POSTs</h2>
<hr>
{% if not post_list %}
Постов пока нет.
{% else %}
{% for post in post_list %}
<div>
{{ post }}
</div>
{% endfor %}
{% endif %}
<hr>
<a href="">Посмотреть все посты по проекту</a>

<h2>FILEs</h2>
<hr>
{% if not file_list %}
Файлов пока нет.
{% else %}
{% for file in file_list %}
<div>
{{ file }}
</div>
{% endfor %}
{% endif %}
<hr>
<a href="">Посмотреть все посты по проекту</a>
{% endblock %}
