{% extends "work/base.html" %}
{% load common_tags inlines comments %}

{% block jsblock %}
{{ block.super }}
{% include "threadedcomments/js-stuff.html" %}
{% endblock %}

{% block content %}
<h1>{{ object }}</h1>
{{ object.desc_ref|render_inlines }}
<h2>TODOs</h2>
<hr>
{% if not todo_list %}
Туду пока нет.
{% else %}
{% for todo in todo_list %}
<div>
<a href="{{ todo.link }}" title="Детали"><font size="3">{{ todo }}</font></a> 
    {% get_comment_count for todo as count %}
    {{ count }} комент.

- <font class="status{{ todo.status }}">{{ todo.get_status_display }}</font> - <font class="todo{{todo.type}}">{{ todo.get_type_display }}</font> <!-- - опубликовано {{ todo.pub_date|timesince }} назад -->
</div>
{% endfor %}
{% endif %}
<hr>
<a href="{% url project_todos slug=object.slug %}">Посмотреть все туду</a> {% if user.is_superuser %}| <a href="{% url project_todo_new slug=object.slug %}">Создать туду</a>{% endif %}

<h2>POSTs</h2>
<hr>
{% if not post_list %}
Постов пока нет.
{% else %}
{% for post in post_list %}
<div>
<a href="{{ post.link }}" title="Читать"><font size="3">{{ post.title }}</font></a>
    {% get_comment_count for post as count %}
    {{ count }} комент.
  - опубликовано {{ post.pub_date|timesince }} назад
</div>
{% endfor %}
{% endif %}
<hr>
<a href="{% url project_posts slug=object.slug %}">Посмотреть все посты по проекту</a>

<h2>FILEs</h2>
<hr>
{% if not file_list %}
Файлов пока нет.
{% else %}
{% for file in file_list %}
<div>
<font size="3">{{ file }}</font>
</div>
{% endfor %}
{% endif %}
<hr>
<a href="">Посмотреть все посты по проекту</a>

{% include "threadedcomments/html-stuff.html" %}
{% endblock %}
